@if (user$ | async; as user) {
  <h1>Hi {{ user.name }}</h1>
  <div class="authenticated">
    @for (link of links; track link.id) {
      <a [routerLink]="link.url">{{ link.label }}</a>
    } @empty {
      <p>No links</p>
    }
  </div>
  <router-outlet />
} @else {
  <div class="unauthenticated">
    <p>Please login</p>
    <button (click)="login()">Login</button>

    @switch (error$ | async) {
      @case (ErrorType.InvalidCredentials) {
        <p>Invalid credentials</p>
      }
      @case (ErrorType.ServerError) {
        <p>Server error</p>
      }
      @default {
        <p>Unknown error</p>
      }
    }
  </div>
}

<div class="container">
  @defer (on viewport; when visible) {
    <a-footer />
  } @loading (after 100ms; minimum 1s) {
    <div class="loading">Loading...</div>
  } @placeholder {
    <div>Skeleton</div>
  } @error {
    <div class="error">Error</div>
  }
</div>

<div class="interpolation">
  <p>{{ title }}</p>
  <p>{{ `by ${user.name}` | uppercase }}</p>

  <div>
    <img src="{{ imageUrl }}" />
  </div>
</div>

<div class="property-binding">
  <p [textContent]="title" [(model)]="name">{{ name }}</p>

  <input [cond]="'some'" />
  <div>
    <img [src]="imageUrl" />
  </div>
  <input [cond]="obj.access['thing'].thing" />
</div>

<div class="icu">
  <span i18n>
    Updated {minutes, plural, =0 {just now} =1 {one minute ago} other {{{minutes}}}}
  </span>
</div>

<div class="event-binding">
  <button (click)="onClick()">Click me</button>
  <button (click)="onClick($event)">Click me</button>
  <button (click)="onClick($event, 'some')">Click me</button>
  <button (click)="onClick(); this.element = $event.target; $event.target.value = 'Hi'; onClick()">Click me</button>
</div>

<div class="directives">
  <span *ngIf="show">Show me</span>
  <span *ngIf="show; else elseBlock">Show me</span>
  <ng-template #elseBlock>
    <span>Else block</span>
  </ng-template>

  <span *ngFor="let item of items; index as i; trackBy: trackByFn">{{ item }}</span>
</div>
